@import './academy_variables.scss';
/*
*
*Heading fonts
*
*/

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font-primary;
}

/*
*
*site Content font
*
*/

p,li{
    font-family:$font-reguler ;
}

@include htags();

a{
    text-decoration: none;
}



/*
*
*header style
*
*/
.site{
    overflow: hidden;
}

.site-header{
    display: flex;
    margin: 0 auto;
}

    .site-branding{
        font-family: $font-primary;
        margin:  auto 1.6rem;
        float: left;
        display: flex;

        a{
            text-decoration: none;
        }
    }


    .site-title,.site-description{
    white-space: nowarp;
    flex-direction: column;
    margin: 0.5rem;
    }

    .site-description{
    float: right;
    padding: 0.5rem;
    font-style: italic;
    vertical-align: bottom;
}

    .menu-toggle{
        display: none;
    }

    .main-navigation{
        margin: auto 1rem;
        float: left;
        text-align: end;
        width: 100%;
    }

    .menu , sub-menu{
        padding: 0;
        margin: 0;
    }

    #primary-menu{
        display: inline-block;
        align-items: center;
        width: 100%;
    }

    li{
        text-align: center;
        font-family: $font-primary ;
        font-size: $font-size*0.7;
        display: inline-block;
        position: relative;
        float: none;
        padding: 0.4rem;
        margin: 0 1rem;
    }

    ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        min-width: 250px;
        text-align: left;
        box-shadow: 0px 3px 5px -1px $boxShadow-color;
        transition: all 0.5s ease;
        z-index: 999;

    }

    ul li:hover>ul,
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        padding: 10px;
        border-style: none;
        background-color: white;
        margin: 0;
    }

    ul ul ul{
        transform: translateX(-100%);
        left: -10px;
        top: 15px;
        margin: 0;
    }

    ul li ul li a:hover{
        padding-left: 10px;
        border-left: 2px solid $color_links_hover;
        transition: all 0.5s ease;

    }


/*
*
*Header responsive
*
*/

@media(max-width:$x-large){
    @include htags(0.8rem);
    .site-branding{
        margin:auto 1.4rem;
    }
    .site-title{
        font-size: 1.8rem;
    }

    .site-title,.site-description{
       
        margin: 0.4rem;
    }
    
        .site-description{
      
        padding: 0.4rem;
    }

    .main-navigation{
        margin: auto 0.9rem;
        li{
            font-size: $font-size*0.6;
            padding: 0.3;
        }

        li li {
            width: 9rem;
        }
    }


}
@media(max-width:$large){
    @include htags(0.7rem);
    .site-branding{
        margin:auto 1.2rem;
    }
    .site-title{
        font-size: 1.6rem;
    }

    .site-title,.site-description{
       
        margin: 0.3rem;
    }
    
        .site-description{
      
        padding: 0.3rem;
    }

    .main-navigation{
        margin: auto 0.8rem;

        li li {
            width: 8rem;
        }
    }
}
@media(max-width:$medium){
    @include htags(0.6rem);
    .site-branding{
        margin:auto 1rem;
    }
    .site-title{
        font-size: 1.4rem;
        margin: 0.3rem;
    }

   .site-description{
       
        display: none;
    }

    .site-header{
        li{
            font-size: $font-size*0.7;
        }
        ul ul{
            position: relative;
            float: none;
            width: 100%;
            background-color: white;

            li{
                background-color: white;
                a{
                    background-color: white;
                    color: $color_primary;
                }
            }
        }
        ul li:hover>ul,ul li ul:hover{
            border-bottom: 1px solid $color_primary;
            li{
                display: block;
            }
        }
    }
      
}
@media(max-width:$small){
    .site-branding{
        margin: auto 0.8rem;
    }
    .site-title{
        font-size: 1.2rem;
        margin: 0.3rem;
    }
    .main-navigation{
        margin: auto 0.6rem;
        ul ul{
            width: 7rem;
            ul{
                right:7rem;
            }
        }
        li{
            font-size: $font-size*0.6;
            padding: 0.2rem;
            margin: 0 0.2rem;

            li{
                width: 7rem;
            }
        }
    }
}
@media(max-width:$x-small){
 .site-branding{
    margin: 0.8rem;
 }
 .site-title{
    font-size: 1rem;
    margin: 0.3rem;
 }


}

/*
*
*Site content style
*
*/
body,
.page{
    margin: 0;
}

.content-area{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}

.site-main{
    float: left;
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.widget-area{
    float: right;
    padding: 2rem;
    padding-top: 3rem;
    overflow: hidden;
    word-break: normal;
    word-wrap: normal;
}

.no-sidbar{
    .site-main{
        grid-column-start: 1;
        grid-column-end: 4;
        float: none;
        padding: 2rem;
    }   
}

.entry-header,
.entry-footer{
    text-align: center;
}

.entry-footer{
    span{
        display: inline-block;
        padding: 1rem;
        font-family: $font-reguler;
    }
}

.entry-meta{
    margin-bottom: 1rem;
    font-family: $font_bold;
}

.post{
    word-break: brea-word;
    padding: 1rem;
    border: 0.2rem solid $color_border;

    p,pre,ul,ol,code,h1,h2,h3,h4,h5,h6,li,strong,span{
        unicode-bidi: plaintext;
    }
    
    a{
        unicode-bidi: isolate;
    }
    

}

.site-content{
    word-wrap: break-word;

}

.widget{
    padding: 1rem;
    border-bottom: 0.2rem solid $color_border;

    ul{
        margin: 0;
        padding: 1rem;
        list-style: none;

        li{
            padding-top: 0.5rem;
        }
    }
}

.has-post-thumbnail{
    text-align: center;
    
    p{
        text-align: left;
    }
}

.entry-content{
    figure{
        text-align: center;
    }
}

blockquote{
    padding: 1rem;
    border: 0.2rem solid $color_border;
}

code{
    background-color: $color_border;
    unicode-bidi: plaintext;
}

.comment{
    padding: 0.5rem;
    line-height: normal;
    border: 0.2rem solid $color_border;
    background-color: #f8f8ff;
    box-shadow: inset 0 0.2rem 0.5rem $color_border;

    li>lo{
        margin: 0;
    }
}

.fomat-image{
    text-align: center;
}

.widget ul{
    margin: 0.5rem;

}

.header-image img{
    width: 100%;
    height: 100%;
}

.nav-previous{
    float: left;
    width: 50%;
}

.nav-next{
    float: right;
    width: 50%;
}
/*
*
*footer style
*
*/

.site-footer{
    text-align: center;
    margin-top: 1rem;
    font-family: $font-bold;
}

.site-info{
    padding: 0.5rem;
}

@media(max-width:$x-large){
    .site-main{
        padding: 1rem;
    }

    .widget-area{
        padding: 1rem;
        padding-top: 1.5rem;
    }
    .no-sidbar{
        .site-main{
            padding: 1rem;
        }
    }

    .entry-footer{
        span{
            padding: 0.5rem;
        }
    }

    .entry-meta{
        margin-bottom: 0.5rem;
    }

    .post{
        padding: 0.5rem;
    }

    .widget{
        padding: 0.5rem;
    }

    blockquote{
        padding: 0.5rem;
    }

    .comment{
        padding: 0.5rem;
   
        
    ul,ol{
        margin: 0 1rem 0.5rem 0;
    }

    li,ol,li>ul{
        margin: auto;
    }
    }

}


@media(max-width:$large){
    .site-main{
        padding: 0.9rem;
    }

    .widget-area{
        padding: 0.5rem;
        padding-top: 1.3rem;
    }
   

    .entry-footer{
        span{
            padding: 0.4rem;
        }
    }

    .entry-meta{
        margin-bottom: 0.4rem;
    }

    .post{
        padding: 0.4rem;
    }

    .widget{
        padding: 0.4rem;
    }

    blockquote{
        padding: 0.4rem;
    }

    .comment{
        padding: 0.4rem;
        
        ul,ol{
            margin: 0 0.9rem 0.4rem 0;
        }
    
    }

  
   
}



@media(max-width:$medium){
    .site-main,.site-area{
        @include htags(1rem)
    }

    .site-main{
        grid-column-start: 1;
        grid-column-end: 4;
        float: none;
        padding: 0.9rem;
    }

    .widget-area{
        grid-column-start: 1;
        grid-column-end: 4;
        float: none;
        text-align: left;
        padding: 0.9rem;
        padding-top: 1.3rem;
    }
   
    .site-footer{
        font-size: $font-size*0.5;
    }

    .comment{
        font-size: $font-size*0.5;
  
        ul,ol{
            margin: 0 0.5rem 0.1rem 0;
        }
    
    }
}

@media(max-width:$small){

    .site-main,.widget-area{
        @include htags(0.8rem)
    }

    .site-main{
        padding: 0.8rem;
    }

    .widget-area{
        padding: 0.8rem;
        padding-top: 1.2rem;
    }

    .site-footer{
        font-size: $font-size*0.4;
    }
    .comment{
        font-size: $font-size*0.4;
        
        ul,ol{
            margin: 0 0.4rem 0.1rem 0;
        }
    }   
   
}

@media(max-width:$x-small){
    .site-main,.widget-area{
        @include htags(0.6rem)
    }

    .site-main{
        padding: 0.5rem;
        font-size: $font-size*0.4;
    }

    .widget-area{
        padding: 0.5rem;
        padding-top: 0.9rem;
        font-size: $font-size*0.5;
    }

    .site-footer,.entry-meta{
        font-size: $font-size*0.4;

        a{
            font-size: $font-size*0.4;
        }
    }
    .site-footer{
        font-size: $font-size*0.4;
    }
    ol.comment-list{
        font-size: $font-size*0.4;

        p{
            margin: 0;
        }

        ul,ol{
            margin: 0;
            padding: 0rem;
        }
        li>ol,li>ul{
            margin: 0;
        }
    }

    .widget-ul{
        margin: 0;
    }
    
   
}
